

/*fonts
======*/

@font-face {
    font-family: HelveticaBold;
    src: url('../fonts/Helvetica%20Neu%20Bold.ttf');
}

@font-face {
    font-family: HelveticaLight;
    src: url('../fonts/HelveticaNeue%20Light.ttf');
}

@font-face {
    font-family: HelveticaMedium;
    src: url('../fonts/HelveticaNeue%20Medium.ttf');
}

@font-face {
    font-family: HelveticaThin;
    src: url('../fonts/HelveticaNeue%20Thin.ttf');
}

@font-face {
    font-family: HelveticaNeue;
    src: url('../fonts/HelveticaNeue.ttf');
}


/* resets and overrides
========================*/

img {
    border: none;
}

/*html {
    height: 100%;
    overflow: hidden;
}*/

body {
    font-family: HelveticaThin, Verdana, sans-serif;
    font-size: 100%;
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}


a:link, a:active, a:visited {
    text-decoration: none;
}

a:hover {
    color: #999;
    text-decoration: underline;
}

h1 {
    font-size: 250%
}

p {
    font-size: 140%;
    line-height: 150%;
    color: #333;
}

.transparent {
    background: rgba(0,0,0,0.5);
}

.body-wrapper {
    padding-left: 18%;
    padding-right: 18%;
}

.center-wrapper {
    width: 100%;
    height: 100%;
    display: table;
}

.center-child {
    display: table-cell;
}

.center-child, .center-wrapper, .middle {
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.title {
    font-family: HelveticaBold;
    font-size: 30px;
    color: #666666;
}

.link-button-dark {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 20px;
    background: transparent;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 2px;
    text-decoration: none;
}

.small-padding-bottom {
    padding-bottom: 10px;
}

.heading {
    font-family: HelveticaBold;
    font-size: 30px;
    color: #FFFFFF;
}

.separator-line-thick {
    height: 4px;
    width: 40px;
    margin: 10px auto;
    background: #ff1a56 !important;
}

.title-wrapper .heading {
    color: #333;
    text-align: center;
}

.slide {
    height: 100vh;
}

.slide-120 {
    height: 120vh;
}


