/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {

    /* PARALLAX CSS ================================= */

    .hsContainer {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }
    .hsContent {
        max-width: 450px;
        margin: -150px auto 0 auto;
        display: table-cell;
        vertical-align: middle;
        color: #666666;
        padding: 0 8%;
        text-align: center
    }
    .bcg {
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    /* Slide 1 */
    #slide-1 .bcg {background-image:url('../images/salon.jpg')}

    /* CSS - Slide 2 */
    #slide-2 .bcg {
        background-image:url('../images/services/back-image-1.png');
        height: 120vh;
       /* background-color: #ddd;*/
        text-align: center
    }

    /*Feature Slide*/
    #features {
        height: 50vh;
    }

    /* CSS - Slide 3 */
    #slide-3 .bcg {background-image:url('../images/bridal/bridal-image.jpg')}

    /* Slide 4 */
    .curtainContainer {
        width: 100%; height: 100%;
        position: relative;
    }
    .curtainContainer .curtain {
        width: 300%; height: 1px;
        background-color: #000000;
        position: absolute; top: 25%; left: 0;
        opacity: 0
    }
    .curtainContainer .copy {
        position: absolute;
        bottom: 30%; left: 0;
        width: 100%; text-align: center;
    }
    #slide-4 .bcg {background-image:url('../images/courses/courses-backimage.jpg')}

    /* Slide 5 */
    #slide-5 {position: relative;}
    #slide-5 .bcg {background-image:url('../images/bcg_slide-5.jpg')}
    #slide-5 .bcg2 {
        background-image:url('../images/bcg_slide-5b.jpg');
        position: fixed; bottom: 0; left: 0;
        opacity: 0; z-index: 1
    }
    #slide-5 .bcg3 {
        background: none; background-color: #010101;
        position: fixed; bottom: 0; left: 0;
        opacity: 0; z-index: 2
    }

    /* END ================================= */






    .heading-wrapper {
    }

    #slide-1 .heading {
        font-family: HelveticaBold;
        font-size: 110px;
        color: #ffffff;
    }

    #slide-1 .subheading {
        font-family: HelveticaThin;
        font-size: 40px;
        color: #ffffff;
    }



    /* NAVIGATION WRAPPER */

    #navigation {
        position: fixed;
        width: 100%;
        color: #ffffff;
        padding: 10px;
        z-index: 1;
    }

    .flex-space-between {
        display: flex;
        justify-content: space-around;
    }

    .navigation-wrapper {
        width: 100%;
    }

    .nav-wrapper ul li {
        display: inline;
        padding-right: 2em;
    }

    .logo {
        font-family: HelveticaBold;
        font-size: 23px;
    }

    .logo-sub {
        font-family: HelveticaThin;
    }

    .nav-wrapper {
        font-family: HelveticaLight;
    }



    /*FEATURES*/

    #features {
        letter-spacing: 2px;
    }

    #features .separator-line-thick {
        height: 4px;
        width: 40px;
        background: #ff1a56 !important;
        margin: 15px 0px 15px 0px;
    }

    #features .flex-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #features .small-title {
        color: #666666;
        font-size: 17px;
        font-family: HelveticaThin;
    }

    #features .features-subheading {
        font-size: 30px;
        font-family: HelveticaMedium;
    }

    #features .feature-symbols {
        font-size: 50px;
        color: #666666;
    }

    #features .numbers {
        font-family: HelveticaMedium;
        font-size: 30px;
        padding: 10px 0px 0px 0px;
    }

    #features .below-number-text {
        font-family: HelveticaLight;
        font-size: 13px;
    }

    #features .features-container {
        display: flex;
        justify-content: space-between;
    }

    #features .feature-item {
        padding:0px 30px;
    }


    #slide-2 .item {
        width: 90vw;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        /* border: 1px solid #9b9b9b; */
        /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
        /* transition: all 0.3s cubic-bezier(.25,.8,.25,1); */
        /* background-color: #666666; */
    }

    #slide-2 .item:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    #slide-2 .block-heading {
        font-family: HelveticaMedium;
        font-size: 20px;
    }

    #slide-2 .vertical-line {
        height: 40vh;
        width: 2px;
        background-color: #ffffff;
    }

    #slide-2 .content-table {
        padding: 20px;
    }

    #slide-2 .block-text {
        color: #FFFFFF;
        width: 50%;
        height: 80vh;
        background-color: crimson;
    }

    #slide-2 .title {
        color: #ffffff;
        font-family: HelveticaLight;
        font-size: 40px;
        margin-bottom: 3vh;
    }

    #slide-2 .description {
        border: 5px solid #ffffff;
        height: 78%;
        width: 90%;
        margin: 4%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-top: 10%;
    }

    #slide-2 .block-desc {
        margin-top: 4vh;
        text-align: center;
    }

    #slide-2 .fa-circle-o {
        font-size: 12px;
    }

    #slide-2 .text {
        font-family: HelveticaLight;
        margin-left: 7px;
    }

    #slide-2 table tr {
        height: 40px;
    }

    #slide-2 .point {
        display: flex;
    }

    #slide-2 .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #slide-2 .owl-stage-outer {
        /*margin-left: 13px;*/
    }

    #slide-2 .arrow-icons {
        font-size: 30px;
        font-weight: inherit;
        cursor: pointer;
    }

    #slide-2 .arrow-icons:hover {
       /* -ms-transform: scale(2,3); !* IE 9 *!
        -webkit-transform: scale(2,3); !* Safari *!
        transform: scale(1.1,1.1);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/

    }

    #slide-2 .slide2-pad {
        padding: 0;
    }

    #slide-2 .carousel-holder {
        width: 90vw;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        height: 80vh;
    }

    #slide-2 .block-image {
        background: url("../images/services/hair.jpg");
        width: 50%;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #slide-2 .bring-center {
        width: 80%;
        margin: 0 auto;
    }


    #slide-2 .points-table {
        border-collapse: collapse;
        margin-left: 5vw;
        width: 90%;
    }

    #slide-2 .arrow {
        background: #ffffff;
        padding: 10px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        position: relative;
        z-index: 2;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }


    #slide-2 .arrow:hover {
        -ms-transform: scale(2,3); /*!* IE 9 *!*/
        -webkit-transform: scale(2,3); /*!* Safari *!*/
        transform: scale(1.2,1.2);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

    #slide-2 .left-arrow {
        left: 30px;
    }

    #slide-2 .right-arrow {
        right: 30px;
    }



    /*TESTIMONIALS*/

    #testimonials {
        height: 80vh;
    }


    #testimonials .heading {
        color: #333;
    }

    #testimonials #testimonial-carousel {
        padding-top: 40px;
    }


    #testimonials .carousel-item {
        width: 50vw;
        margin: 4% auto;
    }

    #testimonials .quote-icon img {
        width: initial;
        display: initial;
    }

    #testimonials .user-pic {
        width: 70px;
        height: 70px;
        border-radius: 50px;
        margin: 0 auto;
    }

    #testimonials .user-pic img {
        border-radius: 50px;
    }

    #testimonials .user-text {
        margin-top: 15px;
        line-height: 26px;
        font-family: HelveticaLight;
        color: #333;
    }

    #testimonials .title-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }



    /*BRIDAL*/

    #slide-3 .title {
        color: #ffffff;
    }

    #slide-3 .flex-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #slide-3 .text {
        font-family: HelveticaLight;
        color: #ffffff !important;
        text-align: justify;
        font-size: 17px;
    }

    #slide-3 .bridal-text, #slide-3 .bridal-image {
        width: 50%;
    }

    #slide-3 .bridal-text {
        padding-right: 3em;
    }

    #slide-3 .image-bride {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    #slide-4 .text {
        font-family: HelveticaLight;
        color: #ffffff !important;
        text-align: left;
        font-size: 17px;
    }

    #slide-4 .courses-wrapper {
        width: 60%;
        padding-right: 3%;
        float: right;
    }

    #slide-4 .heading {
        font-family: HelveticaThin;
        font-size: 56px;
        color: #ffffff;
    }

    #slide-4 .subheading {
        font-family: HelveticaLight;
        color: #ffffff !important;
        text-align: left;
        font-size: 20px;
        line-height: 30px;
    }

    #slide-4 .title {
        color: #ffffff;
    }

}


