<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs%>
</head>
<body>
    <!--when tablet-->
    <div id="tablet" class="landscape-mode" style="height: 200em; position: fixed; top: 0;
              width: 100vw; text-align: center; background-color: white; z-index: 9999;
              color: black; padding-top: 50%; display: none">
        <i class="fa fa-frown-o" aria-hidden="true"></i>

        <p style="width: 80vw; margin-left: 10vw; line-height: 41px;">Mobiles and Tablets will soon be
        supported. Till then book appointment with us on Desktop Computer :)</p>
    </div>

    <nav id="navigation">
       <div class="flex-space-between navigation-wrapper">
           <a href="/">
               <div class="logo-wrapper">
                   <div class="logo">Touch & Shine</div>
                   <div class="logo-sub">Beauty Parlour and Training Center</div>
               </div>
           </a>
           <div class="nav-wrapper">
               <ul>
                   <li><a class="scroll-to-anchor" href="#home">Home</a></li>
                   <li><a class="scroll-to-anchor" href="#services">Services</a></li>
                   <li><a class="scroll-to-anchor" href="#bridal">Bridal</a></li>
                   <li><a class="scroll-to-anchor" href="#packages">Packages</a></li>
                   <li><a class="scroll-to-anchor" href="#training-center">Training Center</a></li>
                   <li><a class="scroll-to-anchor" href="#view-gallery">Gallery</a></li>
                   <li><a class="scroll-to-anchor" href="#contact">Contact Us</a></li>
               </ul>
           </div>
       </div>
    </nav>


    <!-- HTML -->
    <section id="home" class="homeSlide">
            <div class="bcg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#home">
                <div class="hsContainer transparent">
                    <div class="hsContent" data-center="opacity: 1" data-106-top="opacity: 0" data-anchor-target="#home > div">
                        <div class="heading">TOUCH & SHINE</div>
                        <div class="subheading">Beauty Parlour and Training Center</div>
                        <a class="scroll-to-anchor" href="#features">
                            <div class="chevron-pull-down text-center animated bounce">
                                <i class="fa fa-chevron-down move-down" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
    </section>

    <section id="features" class="featureSlide">
        <div class="center-wrapper">
            <div class="center-child">
                <div class="flex-container">
                    <div>
                        <div class="small-title">BEAUTY AND HEALTH STANDARDS</div>
                        <div class="features-subheading">FEATURES OF SALON</div>
                        <div class="separator-line-thick"></div>
                    </div>
                    <div class="features-container text-center">
                        <div class="feature-item">
                            <div><i class="fa fa-heart-o feature-symbols" aria-hidden="true"></i></div>
                            <div class="numbers">300+</div>
                            <div class="below-number-text">BEAUTY STYLES</div>
                        </div>
                        <div class="feature-item">
                            <div><i class="fa fa-scissors feature-symbols" aria-hidden="true"></i></div>
                            <div class="numbers">385+</div>
                            <div class="below-number-text">TREATMENTS</div>
                        </div>
                        <div class="feature-item">
                            <div><i class="fa fa-smile-o feature-symbols" aria-hidden="true"></i></div>
                            <div class="numbers">1000+</div>
                            <div class="below-number-text">HAPPY CLIENTS</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


   <section id="services">
       <div class="bcg">
           <!--data-0="background-color:rgb(255, 255, 255);"
            data-top="background-color:rgb(255, 255, 255);"
            data-anchor-target="#services"-->
           <div class="hsContainer">
               <div class="hsContent slide2-pad">
                   <!--data&#45;&#45;200-bottom="opacity: 0"
                   data-center="opacity: 1"
                   data-206-top="opacity: 1"
                   data-106-top="opacity: 0"
                   data-anchor-target="#services .title"-->
                   <div>
                       <div class="heading">OUR SERVICES</div>
                       <div class="separator-line-thick"></div>
                       <br>
                       <br>
                       <div class="flex-container">
                           <div class="left-arrow arrow">
                               <i class="arrow-icons fa fa-chevron-left" aria-hidden="true"></i>
                           </div>
                           <div class="carousel-holder">
                               <div id="item-1" class="item">
                                   <div class="block-image-1 block-image"></div>
                                   <div class="block-text">
                                       <div class="description">
                                           <div class="bring-center">
                                               <div class="block-desc">
                                                   <div class="title">HAIR</div>
                                                   <table class="points-table" align="center" width="100%">
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Change of Style</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Children Hair cuts</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Trimming</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Hair Spa</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Tongs</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Head Massage</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Blow Dry</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">

                                                           </td>
                                                       </tr>
                                                   </table>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div id="item-2" class="item">
                                   <div class="block-image-2 block-image"></div>
                                   <div class="block-text">
                                       <div class="description">
                                           <div class="bring-center">
                                               <div class="block-desc">
                                                   <div class="title">HAIR CARE</div>
                                                   <table class="points-table" align="center" width="100%">
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Gray Coverage</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Hair Coloring</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Trendy Colors</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Global Hair Coloring</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Full Streaking</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Crown Streaking</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Root Touch-up</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Deep Conditioning</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Strait Therapy</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Re bonding</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Crimping/Ironing</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Perming</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                   </table>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div id="item-3" class="item">
                                   <div class="block-image-3 block-image"></div>
                                   <div class="block-text">
                                       <div class="description">
                                           <div class="bring-center">
                                               <div class="block-desc">
                                                   <div class="title">THREADING</div>
                                                   <table class="points-table" align="center" width="100%">
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Eye Brows</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Upper Lip</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Chin</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Face</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                   </table>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div id="item-4" class="item">
                                   <div class="block-image-4 block-image"></div>
                                   <div class="block-text">
                                       <div class="description">
                                           <div class="bring-center">
                                               <div class="block-desc">
                                                   <div class="title">BEAUTY CARE</div>
                                                   <table class="points-table" align="center" width="100%">
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Clean-up</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Exfoliation</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Skin Rejuvenation</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Di-Pigmentation</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Fruit Facial</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Aroma Facial</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Herbal Facial</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Golden Facial</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Pearl Facial</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Skin Lightening</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Insta Fair</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">

                                                           </td>
                                                       </tr>
                                                   </table>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div id="item-5" class="item">
                                   <div class="block-image-5 block-image"></div>
                                   <div class="block-text">
                                       <div class="description">
                                           <div class="bring-center">
                                               <div class="block-desc">
                                                   <div class="title">BLEACHING</div>
                                                   <table class="points-table" align="center" width="100%">
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Face & Neck</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Legs</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Arms</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Body</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                   </table>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div id="item-6" class="item">
                                   <div class="block-image-6 block-image"></div>
                                   <div class="block-text">
                                       <div class="description">
                                           <div class="bring-center">
                                               <div class="block-desc">
                                                   <div class="title">FACIAL TREATMENT</div>
                                                   <table class="points-table" align="center" width="100%">
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Skin Rejuvenation</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Acne Broke out</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Eye Rejuvenation</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Di-Pigmentation</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                   </table>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div id="item-7" class="item">
                                   <div class="block-image-7 block-image"></div>
                                   <div class="block-text">
                                       <div class="description">
                                           <div class="bring-center">
                                               <div class="block-desc">
                                                   <div class="title">WAXING</div>
                                                   <table class="points-table" align="center" width="100%">
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Under Arms</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Half Arms</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Full Arms</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Half Legs</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Full Legs</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Full Waxing</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Body</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Upper Lip</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Chin</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Face</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                   </table>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <div class="right-arrow arrow">
                               <i class="arrow-icons fa fa-chevron-right" aria-hidden="true"></i>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>

    <section id="testimonials" class="testimonial-slide text-center">
        <div class="center-wrapper">
            <div class="center-child">
                <div class="title-wrapper">
                    <div class="heading">WHAT PEOPLE SAY</div>
                    <div class="separator-line-thick"></div>
                </div>
                <div id="testimonial-carousel">
                    <div class="carousel-item">
                        <div class="user-pic">
                            <img src="/images/testimonials/user1.jpg" width="100%"/>
                        </div>
                        <div class="user-text">
                            I have always wondered if I am really capable
                            to make up my career in this field. But, Touch & Shine Beauty
                            Parlour seemed as a great encouragement and I have just
                            entered my life in this field by pursuing courses here.
                            <br>
                            <br>
                            <b>- SHITAL GUPTEY</b>
                        </div>
                        <br>
                        <div class="quote-icon">
                            <img src="/images/testimonials/quotes.png">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="user-pic">
                            <img src="/images/testimonials/user3.jpg" width="100%"/>
                        </div>
                        <div class="user-text">
                            Unlike other beauty Parlours, Touch & Shine Beauty Parlour
                            stands unique in their treatments and exclusive offers.
                            I have recently undergone warts removal treatment and it
                            really works! It has improved my confidence and outlook.
                            <br>
                            <br>
                            <b>- NIKITA LOKRE</b>
                        </div>
                        <br>
                        <div class="quote-icon">
                            <img src="/images/testimonials/quotes.png">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="user-pic">
                            <img src="/images/testimonials/user2.jpg" width="100%"/>
                        </div>
                        <div class="user-text">
                            I was just not able to believe the transformed look after
                             my makeup. Just loved the kind of appreciations got from
                             people :D
                            <br>
                            <br>
                            <b>- NUPUR GADKARI</b>
                        </div>
                        <br>
                        <div class="quote-icon">
                            <img src="/images/testimonials/quotes.png">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="user-pic">
                            <img src="/images/testimonials/user4.jpg" width="100%"/>
                        </div>
                        <div class="user-text">
                            Just have to tell you, i have had sooooo many compliments
                            about my hair, the colour, style and cut. Tanu you are
                            my favourite hairdresser!
                            <br>
                            <br>
                            <b>- RUPALI PRADHAN</b>
                        </div>
                        <br>
                        <div class="quote-icon">
                            <img src="/images/testimonials/quotes.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   <!-- HTML -->
   <section id="bridal" class="homeSlide">
       <div class="bcg"
            data-center="background-position: 50% 0px;"
            data-top-bottom="background-position: 50% -100px;"
            data-anchor-target="#bridal"
       >
           <div class="hsContainer transparent">
               <div class="hsContent">
                   <div class="plaxEl">

                      <!-- data-106-top="opacity: 0"
                       data-bottom="opacity: 1; position: fixed; top: 206px; width: 100%; left: 0;"
                       data&#45;&#45;30p-top="opacity: 1;"
                       data&#45;&#45;60p-top="opacity: 0;"
                       data-anchor-target="#bridal"-->

                       <div>
                           <div class="flex-container">
                               <div class="bridal-text text-left">
                                   <div class="title-wrapper">
                                       <div class="heading-left">BRIDAL MAKEUP</div>
                                       <div class="separator-line-thick-left"></div>
                                   </div>
                                   <br>
                                   <div class="">
                                       <div class="subheading">You get married once in a lifetime, We prepare
                                           you to be at your best for that special day.</div>
                                       <br>
                                       <br>
                                       <a href="/bridal">
                                           <div class="link-button-dark">
                                               <span>Click to know more</span>
                                           </div>
                                       </a>
                                   </div>
                               </div>
                               <div  style="visibility: hidden"  class="bridal-image">
                                   <img class="image-bride" src="/images/bridal/bridal-image.jpg" alt="bridal makeup" width="100%">
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>


    <section id="packages" class="home140">
        <div class="packages-wrapper">
            <div class="center-wrapper">
                <div class="center-child text-center">
                    <div class="title-wrapper"><br><br>
                        <div class="heading">OUR PACKAGES</div>
                        <div class="separator-line-thick"></div>
                    </div>
                    <br>
                    <div class="packages-blocks">
                        <div class="package-1 package-item">
                           <!-- <div class="pkg-img pkg-img-1"></div>-->
                            <div class="pkg-text">
                                <div class="packages-headings">
                                    <div class="pkg-title">BASIC PACKAGE</div>
                                    <div class="pkg-cost">699/- Only</div>
                                </div>
                                <div class="pkg-desc">
                                    <ul>
                                        <li>Facial (Face Only)</li>
                                        <li>Bleaching (Face Only)</li>
                                        <li>Full Hand Wax</li>
                                        <li>Full Leg Wax</li>
                                        <li>Under Arms</li>
                                        <li>Eyebrow</li>
                                        <li>Forehead</li>
                                        <li>Upper Lips</li>
                                        <li>Hair Massage upto 10 Minutes</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="package-2 package-item">
                            <div class="pkg-text">
                                <div class="packages-headings">
                                    <div class="pkg-title">STANDARD PACKAGE</div>
                                    <div class="pkg-cost">999/- Only</div>
                                </div>
                                <div class="pkg-desc">
                                    <ul>
                                        <li>Facial (Face Only)</li>
                                        <li>Bleaching (Face Only)</li>
                                        <li>Full Hand Wax</li>
                                        <li>Full Leg Wax</li>
                                        <li>Under Arms</li>
                                        <li>Eyebrow</li>
                                        <li>Forehead</li>
                                        <li>Upper Lips</li>
                                        <li>Hair Massage upto 20 Minutes</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="package-3 package-item">
                            <div class="pkg-text">
                                <div class="packages-headings">
                                    <div class="pkg-title">EXCLUSIVE PACKAGE</div>
                                    <div class="pkg-cost">1499/- Only</div>
                                </div>
                                <div class="pkg-desc">
                                    <ul>
                                        <li>Facial(Face, Neck and Half Back)</li>
                                        <li>Bleaching (Face, Neck and Half Back)</li>
                                        <li>Full Hand Wax</li>
                                        <li>Full Leg Wax</li>
                                        <li>Under Arms</li>
                                        <li>Eyebrow</li>
                                        <li>Forehead</li>
                                        <li>Upper Lips</li>
                                        <li>Hair Spa (L'Oreal, Berina, Aroma)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


   <!-- HTML -->
   <section id="slide-4" class="homeSlide homeSlideTall">
       <div class="bcg"
            data-center="background-position: 50% 0px;"
            data-bottom-top="background-position: 50% 100px;"
            data-top-bottom="background-position: 50% -100px;"
            data-anchor-target="#slide-4"
       >
           <div class="curtainContainer">
               <div class="curtain"
                    data-bottom-top="opacity: 0"
                    data-106-top="height: 1%; top: -10%; opacity: 0;"
                    data-center="height: 100%; top: 0%; opacity: 0.5"
                    data-anchor-target="#slide-4"
               ></div>
               <div class="copy"
                    data-bottom-top="opacity: 0"
                    data--100-bottom="opacity: 1;"
                    data-anchor-target="#slide-4 .copy">

                   <div id="just-for-anchor"><div id="training-center">*************</div></div>

                   <div class="courses-wrapper text-left">
                       <div class="title-wrapper">
                           <div class="heading">BEAUTICIAN TRAINING ACADEMY</div>
                           <div class="separator-line-thick"></div>
                       </div>
                       <div class="subheading">The premiere choice for beautician courses in Bhopal</div>
                       <br>
                       <div class="subsubheading">Become a Pro Makeup Artist. Join and receive your certificate.
                           Looking for a professional make up course? A woman who cuts her hair is about
                           to change her life
                       </div>
                       <br>
                       <br>
                       <a href="/training">
                           <div class="link-button-dark">
                               <span>Click to know more</span>
                           </div>
                       </a>
                   </div>

               </div>

           </div>
       </div>
   </section>


    <section id="view-gallery" class="slide text-center">
        <div class="center-wrapper">
            <div class="center-child body-wrapper">
                <div class="title-wrapper">
                    <div class="heading">GALLERY</div>
                    <div class="separator-line-thick"></div>
                </div>
                <br><br>
                <div class="grid">
                    <div class="grid-sizer"></div>
                    <div class="grid-item">
                        <a href="/images/gallery/gallery-image-1.jpg" data-lightbox="gallery" data-title="Gallery">
                            <img src="/images/gallery/gallery-image-1.jpg"/>
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/images/gallery/gallery-image-16.jpg" data-lightbox="gallery" data-title="Gallery">
                            <img src="/images/gallery/gallery-image-16.jpg">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/images/gallery/gallery-image-3.jpg" data-lightbox="gallery" data-title="Gallery">
                            <img src="/images/gallery/gallery-image-3.jpg">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/images/gallery/gallery-image-4.jpg" data-lightbox="gallery" data-title="Gallery">
                            <img src="/images/gallery/gallery-image-4.jpg">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/images/gallery/gallery-image-5.jpg" data-lightbox="gallery" data-title="Gallery">
                            <img src="/images/gallery/gallery-image-5.jpg">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/images/gallery/gallery-image-6.jpg" data-lightbox="gallery" data-title="Gallery">
                            <img src="/images/gallery/gallery-image-6.jpg">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/images/gallery/gallery-image-7.jpg" data-lightbox="gallery" data-title="Gallery">
                            <img src="/images/gallery/gallery-image-7.jpg">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/images/gallery/gallery-image-8.jpg" data-lightbox="gallery" data-title="Gallery">
                            <img src="/images/gallery/gallery-image-8.jpg">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/images/gallery/gallery-image-9.jpg" data-lightbox="gallery" data-title="Gallery">
                            <img src="/images/gallery/gallery-image-9.jpg">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/images/gallery/gallery-image-10.jpg" data-lightbox="gallery" data-title="Gallery">
                            <img src="/images/gallery/gallery-image-10.jpg">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/images/gallery/gallery-image-11.jpg" data-lightbox="gallery" data-title="Gallery">
                            <img src="/images/gallery/gallery-image-11.jpg">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/images/gallery/gallery-image-2.jpg" data-lightbox="gallery" data-title="Gallery">
                            <img src="/images/gallery/gallery-image-2.jpg">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="contact">
        <div class="" id="location-map">
            <div class="title-wrapper">
                <div class="heading">REACH OUT TO US</div>
                <div class="separator-line-thick"></div>
            </div>
            <br><br>
            <div class="map-back">
                <div class="width-50">
                    <div class="contact-wrapper">
                        <div class="contact-heading">Contact Us</div>
                        <br>
                        <div class="contact">
                            <div class="margin-right"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                            <div>E-12, Phase-2,<br> Sant Asaram Nagar, <br>Near Kadambini Colony,<br>
                                Bag Mugaliya, <br>Bhopal-462043</div>
                        </div>
                        <div class="contact">
                            <div class="margin-right"><i class="fa fa-phone" aria-hidden="true"></i></div>
                            <div>(+91) 8989803040</div>
                        </div>
                        <div class="text-center large-margin-top">
                            <div class="medium-text">See our work and share with us</div>
                            <br>
                            <div>
                                <a class="inherit-color" href="#facebook">
                                    <i class="fa fa-facebook icons" aria-hidden="true"></i>
                                </a>
                                <a class="inherit-color" href="#instagram">
                                    <i class="fa fa-instagram icons" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="width-50" id="map"></div>
            </div>
            <div class="text-center" id="footer">
                <div>Touch & Shine Beauty Parlour | All rights reserved</div>
                <div><a class="my-email" href="mailto:pravesh03choudhary@gmail.com">Made with love by Pravesh | Click to give me a shout</a></div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="vendors/js/jquery.js"></script>
    <script type="text/javascript" src="vendors/js/imagesloaded.js"></script>
    <script type="text/javascript" src="vendors/js/skrollr.min.js"></script>
    <script type="text/javascript" src="vendors/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="vendors/js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="vendors/js/lightbox.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0MgCpMmoS5DkDv2BY7H-8kyo7JcxcSB8&callback=initMap"
            async defer>
    </script>
    <script type="text/javascript" src="script/script.js"></script>
    <script type="text/javascript">
        $(function() { $('body').hide().show(); })
    </script>
</body>
</html>