<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs%>
</head>
<body>

    <nav id="navigation">
       <div class="flex-space-between navigation-wrapper">
           <div class="logo-wrapper">
               <div class="logo">Touch & Shine</div>
               <div class="logo-sub">Beauty Parlour and Training Center</div>
           </div>
           <div class="nav-wrapper">
               <ul>
                   <li>Home</li>
                   <li>Services</li>
                   <li>Bridal</li>
                   <li>Courses</li>
                   <li>About Us</li>
                   <li>Contact Us</li>
               </ul>
           </div>
       </div>
    </nav>


    <!-- HTML -->
    <section id="slide-1" class="homeSlide">
            <div class="bcg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#slide-1">
                <div class="hsContainer transparent">
                    <div class="hsContent" data-center="opacity: 1" data-106-top="opacity: 0" data-anchor-target="#slide-1 > div">
                        <div class="heading">TOUCH & SHINE</div>
                        <div class="subheading">Beauty Parlour and Training Center</div>
                    </div>
                </div>
            </div>
    </section>

    <section id="features" class="featureSlide">
        <div class="center-wrapper">
            <div class="center-child">
                <div class="flex-container">
                    <div>
                        <div class="small-title">BEAUTY AND HEALTH STANDARDS</div>
                        <div class="features-subheading">FEATURES OF SALON</div>
                        <div class="separator-line-thick"></div>
                    </div>
                    <div class="features-container text-center">
                        <div class="feature-item">
                            <div><i class="fa fa-heart-o feature-symbols" aria-hidden="true"></i></div>
                            <div class="numbers">300+</div>
                            <div class="below-number-text">BEAUTY STYLES</div>
                        </div>
                        <div class="feature-item">
                            <div><i class="fa fa-scissors feature-symbols" aria-hidden="true"></i></div>
                            <div class="numbers">385+</div>
                            <div class="below-number-text">TREATMENTS</div>
                        </div>
                        <div class="feature-item">
                            <div><i class="fa fa-smile-o feature-symbols" aria-hidden="true"></i></div>
                            <div class="numbers">1000+</div>
                            <div class="below-number-text">HAPPY CLIENTS</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


   <section id="slide-2">
       <div class="bcg">
           <!--data-0="background-color:rgb(255, 255, 255);"
            data-top="background-color:rgb(255, 255, 255);"
            data-anchor-target="#slide-2"-->
           <div class="hsContainer">
               <div class="hsContent slide2-pad">
                   <!--data&#45;&#45;200-bottom="opacity: 0"
                   data-center="opacity: 1"
                   data-206-top="opacity: 1"
                   data-106-top="opacity: 0"
                   data-anchor-target="#slide-2 .title"-->
                   <div>
                       <div class="heading">OUR SERVICES</div>
                       <div class="separator-line-thick"></div>
                       <br>
                       <br>
                       <div class="flex-container">
                           <div class="left-arrow arrow">
                               <i class="arrow-icons fa fa-chevron-left" aria-hidden="true"></i>
                           </div>
                           <div class="carousel-holder">
                               <div id="item-1" class="item">
                                   <div class="block-image"></div>
                                   <div class="block-text">
                                       <div class="description">
                                           <div class="bring-center">
                                               <div class="block-heading">SERVICES</div>
                                               <div class="block-desc">
                                                   <div class="title">HAIR</div>
                                                   <table class="points-table" align="center" width="100%">
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Change of Style</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Children Hair cuts</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Trimming</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Hair Spa</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Tongs</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Head Massage</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Blow Dry</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">

                                                           </td>
                                                       </tr>
                                                   </table>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div id="item-2" class="item">
                                   <div class="block-image"></div>
                                   <div class="block-text">
                                       <div class="description">
                                           <div class="bring-center">
                                               <div class="block-heading">SERVICES</div>
                                               <div class="block-desc">
                                                   <div class="title">HAIR CARE</div>
                                                   <table class="points-table" align="center" width="100%">
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Gray Coverage</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Hair Coloring</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Trendy Colors</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Global Hair Coloring</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Full Streaking</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Crown Streaking</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Root Touch-up</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Deep Conditioning</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Strait Therapy</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Re bonding</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Crimping/Ironing</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Perming</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                   </table>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div id="item-3" class="item">
                                   <div class="block-image"></div>
                                   <div class="block-text">
                                       <div class="description">
                                           <div class="bring-center">
                                               <div class="block-heading">SERVICES</div>
                                               <div class="block-desc">
                                                   <div class="title">THREADING</div>
                                                   <table class="points-table" align="center" width="100%">
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Eye Brows</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Upper Lip</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Chin</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Face</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                   </table>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div id="item-4" class="item">
                                   <div class="block-image"></div>
                                   <div class="block-text">
                                       <div class="description">
                                           <div class="bring-center">
                                               <div class="block-heading">SERVICES</div>
                                               <div class="block-desc">
                                                   <div class="title">Beauty care</div>
                                                   <table class="points-table" align="center" width="100%">
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Clean-up</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Exfoliation</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Skin Rejuvenation</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Di-Pigmentation</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Fruit Facial</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Aroma Facial</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Herbal Facial</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Golden Facial</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Pearl Facial</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Skin Lightening</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Insta Fair</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">

                                                           </td>
                                                       </tr>
                                                   </table>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div id="item-5" class="item">
                                   <div class="block-image"></div>
                                   <div class="block-text">
                                       <div class="description">
                                           <div class="bring-center">
                                               <div class="block-heading">SERVICES</div>
                                               <div class="block-desc">
                                                   <div class="title">BLEACHING</div>
                                                   <table class="points-table" align="center" width="100%">
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Face & Neck</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Legs</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Arms</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Body</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                   </table>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div id="item-6" class="item">
                                   <div class="block-image"></div>
                                   <div class="block-text">
                                       <div class="description">
                                           <div class="bring-center">
                                               <div class="block-heading">SERVICES</div>
                                               <div class="block-desc">
                                                   <div class="title">FACIAL TREATMENT</div>
                                                   <table class="points-table" align="center" width="100%">
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Skin Rejuvenation</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Acne Broke out</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Eye Rejuvenation</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Di-Pigmentation</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                   </table>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div id="item-7" class="item">
                                   <div class="block-image"></div>
                                   <div class="block-text">
                                       <div class="description">
                                           <div class="bring-center">
                                               <div class="block-heading">SERVICES</div>
                                               <div class="block-desc">
                                                   <div class="title">WAXING</div>
                                                   <table class="points-table" align="center" width="100%">
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Under Arms</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Half Arms</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Full Arms</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Half Legs</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Full Legs</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Full Waxing</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Body</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Upper Lip</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                       <tr>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Chin</div>
                                                               </div>
                                                           </td>
                                                           <td align="center">
                                                               <div class="point">
                                                                   <div>
                                                                       <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                                   </div>
                                                                   <div class="text">Face</div>
                                                               </div>
                                                           </td>
                                                       </tr>
                                                   </table>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <div class="right-arrow arrow">
                               <i class="arrow-icons fa fa-chevron-right" aria-hidden="true"></i>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>

    <section id="testimonials" class="testimonial-slide text-center">
        <div class="center-wrapper">
            <div class="center-child">
                <div class="title-wrapper">
                    <div class="heading">WHAT PEOPLE SAY</div>
                    <div class="separator-line-thick"></div>
                </div>
                <div id="testimonial-carousel">
                    <div class="carousel-item">
                        <div class="user-pic">
                            <img src="/images/testimonials/user1.jpg" width="100%"/>
                        </div>
                        <div class="user-text">
                            I have always wondered if I am really capable
                            to make up my career in this field. But, Touch & Shine Beauty
                            Parlour seemed as a great encouragement and I have just
                            entered my life in this field by pursuing courses here.
                            <br>
                            <br>
                            <b>- SHITAL GUPTEY</b>
                        </div>
                        <br>
                        <div class="quote-icon">
                            <img src="/images/testimonials/quotes.png">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="user-pic">
                            <img src="/images/testimonials/user3.jpg" width="100%"/>
                        </div>
                        <div class="user-text">
                            Unlike other beauty Parlours, Touch & Shine Beauty Parlour
                            stands unique in their treatments and exclusive offers.
                            I have recently undergone warts removal treatment and it
                            really works! It has improved my confidence and outlook.
                            <br>
                            <br>
                            <b>- NIKITA LOKRE</b>
                        </div>
                        <br>
                        <div class="quote-icon">
                            <img src="/images/testimonials/quotes.png">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="user-pic">
                            <img src="/images/testimonials/user2.jpg" width="100%"/>
                        </div>
                        <div class="user-text">
                            I was just not able to believe the transformed look after
                             my makeup. Just loved the kind of appreciations got from
                             people :D
                            <br>
                            <br>
                            <b>- NUPUR GADKARI PRADHAN</b>
                        </div>
                        <br>
                        <div class="quote-icon">
                            <img src="/images/testimonials/quotes.png">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="user-pic">
                            <img src="/images/testimonials/user4.jpg" width="100%"/>
                        </div>
                        <div class="user-text">
                            Just have to tell you, i have had sooooo many compliments
                            about my hair, the colour, style and cut. Tanu you are
                            my favourite hairdresser!
                            <br>
                            <br>
                            <b>- RUPALI PRADHAN</b>
                        </div>
                        <br>
                        <div class="quote-icon">
                            <img src="/images/testimonials/quotes.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   <!-- HTML -->
   <section id="slide-3" class="homeSlide">
       <div class="bcg"
            data-center="background-position: 50% 0px;"
            data-top-bottom="background-position: 50% -100px;"
            data-anchor-target="#slide-3"
       >
           <div class="hsContainer transparent">
               <div class="hsContent">
                   <div class="plaxEl">

                      <!-- data-106-top="opacity: 0"
                       data-bottom="opacity: 1; position: fixed; top: 206px; width: 100%; left: 0;"
                       data&#45;&#45;30p-top="opacity: 1;"
                       data&#45;&#45;60p-top="opacity: 0;"
                       data-anchor-target="#slide-3"-->

                       <div>
                           <div class="flex-container">
                               <div class="bridal-text text-left">
                                   <div class="title">BRIDAL MAKEUP</div>
                                   <div class="subheading">Look like a princess on your special day</div>
                                   <div class="">
                                       <p class="text">Look Classy & Fabulous on your special day with
                                           Makeup by Tanuja Choudhary</p>
                                       <a class="link-button-dark" href="#">Click to know more
                                           <i class="arrow-icons fa fa-chevron-right" aria-hidden="true"></i>
                                       </a>
                                   </div>
                               </div>
                               <div  style="visibility: hidden"  class="bridal-image">
                                   <img class="image-bride" src="/images/bridal/bridal-image.jpg" alt="bridal makeup" width="100%">
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>


   <!-- HTML -->
   <section id="slide-4" class="homeSlide homeSlideTall">
       <div class="bcg"
            data-center="background-position: 50% 0px;"
            data-bottom-top="background-position: 50% 100px;"
            data-top-bottom="background-position: 50% -100px;"
            data-anchor-target="#slide-4"
       >
           <div class="curtainContainer">
               <div class="curtain"
                    data-bottom-top="opacity: 0"
                    data-106-top="height: 1%; top: -10%; opacity: 0;"
                    data-center="height: 100%; top: 0%; opacity: 0.5"
                    data-anchor-target="#slide-4"
               ></div>
               <div class="copy"
                    data-bottom-top="opacity: 0"
                    data--100-bottom="opacity: 1;"
                    data-anchor-target="#slide-4 .copy">

                   <div class="courses-wrapper text-left">
                       <div class="title">BEAUTICIAN TRAINING ACADEMY</div>
                       <div class="heading">The premiere choice for beautician courses in Bhopal</div>
                       <br>
                       <div class="subheading">Become a Pro Makeup Artist. Join and receive your certificate.
                           Looking for a professional make up course? A woman who cuts her hair is about
                           to change her life
                       </div>
                   </div>

               </div>

           </div>
       </div>
   </section>


    <section id="gallery-wrapper" class="slide text-center">
        <div class="center-wrapper">
            <div class="center-child body-wrapper">
                <div class="title-wrapper">
                    <div class="heading">GALLERY</div>
                    <div class="separator-line-thick"></div>
                </div>
                <br><br>
                <div class="grid">
                    <div class="grid-sizer"></div>
                    <div class="grid-item">
                        <a href="/images/gallery/gallery-image-1.jpg" data-lightbox="gallery" data-title="Gallery">
                            <img src="/images/gallery/gallery-image-1.jpg"/>
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/images/gallery/gallery-image-16.jpg" data-lightbox="gallery" data-title="Gallery">
                            <img src="/images/gallery/gallery-image-16.jpg">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/images/gallery/gallery-image-3.jpg" data-lightbox="gallery" data-title="Gallery">
                            <img src="/images/gallery/gallery-image-3.jpg">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/images/gallery/gallery-image-4.jpg" data-lightbox="gallery" data-title="Gallery">
                            <img src="/images/gallery/gallery-image-4.jpg">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/images/gallery/gallery-image-5.jpg" data-lightbox="gallery" data-title="Gallery">
                            <img src="/images/gallery/gallery-image-5.jpg">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/images/gallery/gallery-image-6.jpg" data-lightbox="gallery" data-title="Gallery">
                            <img src="/images/gallery/gallery-image-6.jpg">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/images/gallery/gallery-image-7.jpg" data-lightbox="gallery" data-title="Gallery">
                            <img src="/images/gallery/gallery-image-7.jpg">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/images/gallery/gallery-image-8.jpg" data-lightbox="gallery" data-title="Gallery">
                            <img src="/images/gallery/gallery-image-8.jpg">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/images/gallery/gallery-image-9.jpg" data-lightbox="gallery" data-title="Gallery">
                            <img src="/images/gallery/gallery-image-9.jpg">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/images/gallery/gallery-image-10.jpg" data-lightbox="gallery" data-title="Gallery">
                            <img src="/images/gallery/gallery-image-10.jpg">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/images/gallery/gallery-image-10.jpg" data-lightbox="gallery" data-title="Gallery">
                            <img src="/images/gallery/gallery-image-11.jpg">
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/images/gallery/gallery-image-2.jpg" data-lightbox="gallery" data-title="Gallery">
                            <img src="/images/gallery/gallery-image-2.jpg">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>


   <!-- HTML -->
  <!-- <section id="slide-5" class="homeSlide homeSlideTall2">
       <div class="bcg">&nbsp;</div>
       <div class="bcg bcg2"
            data-bottom-top="opacity: 0;"
            data&#45;&#45;33p-top="opacity: 0;"
            data&#45;&#45;66p-top="opacity: 1;"
            data-anchor-target="#slide-5"
       >
           <div class="hsContainer">
               <div class="hsContent"
                    data-bottom-top="opacity: 0;"
                    data-center="opacity: 1"
                    data-anchor-target="#slide-5"
               >
                   <h2>Fixed element fading in and out</h2>
               </div>
           </div>
       </div>
       <div class="bcg bcg3"
            data-300-bottom="opacity: 0;"
            data-100-bottom="opacity: 1;"
            data-anchor-target="#slide-5"
       >
           <div class="hsContainer">
               <div class="hsContent"
                    data-100-bottom="opacity: 0;"
                    data-bottom="opacity: 1;"
                    data-anchor-target="#slide-5"
               >
                   <h2>The End</h2>
               </div>
           </div>
       </div>
   </section>-->


   <!-- <section id="intro">
        <div class="heading-wrapper transparent">
            <div id="slide0" class="slide header">
                &lt;!&ndash;   <div class="heading">
                       <span>Touch</span>
                       <span>& Shine</span>
                   </div>
                   <div class="subheading">Beauty Salon & Training Center</div>&ndash;&gt;
            </div>
        </div>
    </section>

    <section id="about">
        <div id="slide1" class="slide">
            &lt;!&ndash;<div class="title">
                <h1>Slide 1</h1>
                <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at. Id viris docendi denique vim.</p>
            </div>&ndash;&gt;
            <div id="products-wrapper" class="body-wrapper text-center">
                <div class="heading">Our Products</div>
                <div class="products"></div>
            </div>
        </div>
    </section>

    <section>
        <div id="slide2" class="slide">
            <div class="title">
                <h1>Slide 2</h1>
                <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at. Id viris docendi denique vim.</p>
            </div>
            <img src="http://lorempixel.com/640/480/abstract/6/">
            <img src="http://lorempixel.com/640/480/abstract/4/">
        </div>
    </section>

    <section>
        <div id="slide3" class="slide">
            <div class="title">
                <h1>Slide 3</h1>
                <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at. Id viris docendi denique vim.</p>
            </div>
        </div>
    </section>

    <section>
        <div id="slide4" class="slide header">
            <h1>The End</h1>
        </div>
    </section>-->

    <script src="/vendors/js/jquery.js"></script>
    <script src="/vendors/js/imagesloaded.js"></script>
    <script src="/vendors/js/skrollr.min.js"></script>
    <script src="/vendors/owl-carousel/owl.carousel.js"></script>
    <script src="/vendors/js/masonry.pkgd.min.js"></script>
    <script src="/vendors/js/lightbox.min.js"></script>
    <script src="/script/script.js"></script>
</body>
</html>