<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs%>
</head>
<body>
    <nav id="navigation-white">
        <div class="flex-space-between navigation-wrapper">
            <a href="/">
                <div class="logo-wrapper">
                    <div class="logo">Touch & Shine</div>
                    <div class="logo-sub">Beauty Parlour and Training Center</div>
                </div>
            </a>
            <div class="nav-wrapper">
                <ul>
                    <li><a class="scroll-to-anchor" href="/#home">Home</a></li>
                    <li><a class="scroll-to-anchor" href="/#services">Services</a></li>
                    <li><a class="scroll-to-anchor" href="/#bridal">Bridal</a></li>
                    <li><a class="scroll-to-anchor" href="/#packages">Packages</a></li>
                    <li><a class="scroll-to-anchor" href="/#training-center">Training Center</a></li>
                    <li><a class="scroll-to-anchor" href="/#view-gallery">Gallery</a></li>
                    <li><a class="scroll-to-anchor" href="/#contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>

        <section id="bridal-makeup">
            <div class="header">
                <div class="transparent-dark cover-container">
                    <div class="padding-left width-50">
                        <div class="bridal-header-heading">GORGEOUS BRIDAL <br>MAKE UP</div><br>
                        <div class="bridal-header-subheading">You get married once in a lifetime,<br>
                            We prepare you to be at your best for <br>that special day.</div>
                    </div>
                </div>
            </div>
        </section>

    <div id="main-content" class="align-content-padding">
        <section id="bridal-description">
            <div class="content">
                <h2 class="heading text-center">Beautiful Bridal Make Up</h2>
                <p class="material">A wedding is a wonderful, once-in-a-lifetime event. Exactly why,
                    we at Touch and Shine have created 10 unique looks, crafted by
                    expert Mrs. Tanuja Choudhary. She understand the diverse skin
                    tones of brides from different countries. Each look has been
                    thought out with the preferred costume of the region, taking
                    into account climatic conditions. Besides these one-of-a-kind
                    bridal looks, every effort is made to create a customized look
                    that exactly matches the expectation of the blushing bride-to-be.</p>
            </div><br><br>
        </section>

        <section id="bridal-content">
            <div class="flex-container">
                <div class="image-container">
                    <img src="../../images/bridal/punjabi-bride.jpg" width="70%">
                </div>
                <div class="text-content">
                    <h3>Punjabi Bride</h3>
                    <p class="material">In this rich and dazzling look, the eyes are done up in bright shades
                        like ruby red, mahogany with lots of gold and bronze shimmer. The lips
                        have a dash of maroon with plenty of gloss. The hair is made up in an
                        elegant French knot with lots of fresh flowers such as red roses, orchid
                        or jasmine that will be customized to match the tone of the attire.</p>
                </div>
            </div><br><br><br>

            <div class="flex-container">
                <div class="text-content">
                    <h3>Gujarati Bride</h3>
                    <p class="material">Stunning in its colourful splendor, this look uses bright makeup with a heavy
                        base and ensures a chiseled look. The eyes are done up strikingly with a dark
                        coloured eyeliner, false lashes, kohl and lots of shimmer on the eyelids.
                        The lips are enhanced with a deep shade of colour while the hair is swept up
                        into an updo with matching hair accessories.</p>
                </div>
                <div class="text-center image-container">
                    <img src="../../images/bridal/gujrati-bride.jpg" width="70%">
                </div>
            </div><br><br><br>

            <div class="flex-container">
                <div class="image-container">
                    <img src="../../images/bridal/andhra-bride.jpg" width="70%">
                </div>
                <div class="text-content">
                    <h3>Andhra Bride</h3>
                    <p class="material">The Andhra Bridal look brings out the best in the bride with deep kohl lined eyes,
                        thickened lashes and a sprinkle of shimmer on the eyelids. The lips are kept
                        light with gloss, while the hair is swept up either in a French roll or an elegant
                        upstyle that matches the overall look. A more traditional, long plait adorned with
                        fresh flowers is also an option.</p>
                </div>
            </div><br><br><br>

            <div class="flex-container">
                <div class="text-content">
                    <h3>Maharashtrian Bride</h3>
                    <p class="material">The traditional Maharashtrian look is brought about with a base eye shadow in neutral
                        shades that can match all the 5 sari change that occur during the ceremonies. Dark
                        kohl and deeply coloured lips are enhanced with a hint of bronze and gold. The
                        hairs is done up in a long plait or a bun covered throughout with a trail of sweet
                        smelling mogras.</p>
                </div>
                <div class="text-center image-container">
                    <img src="../../images/bridal/maharashtrian-bride.jpg" width="70%">
                </div>
            </div><br><br><br>

            <div class="flex-container">
                <div class="image-container">
                    <img src="../../images/bridal/rajasthani-bride.jpg" width="70%">
                </div>
                <div class="text-content">
                    <h3>Rajasthani Bride</h3>
                    <p class="material">This look enhances the wheatish skin tone of the region using attractive shades of
                        bronze, rust and other warm, earthy tones. The eyes are highlighted with mattified
                        gold and bronze, perfectly complimenting the shades of the fuchsia pink attire worn.
                        The hair is styled back as per the length and volume to enhance the overall effect
                        of elegance.</p>
                </div>
            </div><br><br><br>

            <div class="flex-container">
                <div class="text-content">
                    <h3>Bengali Bride</h3>
                    <p class="material">The Bengali look stuns with eyes that are enhanced using the base color of the sari and
                        contoured with a color two shades deeper. Lined with deep kohl and false lashes, they
                        sparkle. The lips are highlighted with high sheen while the forehead is decorated with
                        intricate designs of Chandan. The hair is gathered into a bun, covered with a veil
                        and adorned by a traditional Mukut.</p>
                </div>
                <div class="text-center image-container">
                    <img src="../../images/bridal/bengali-bride.jpg" width="70%">
                </div>
            </div><br><br><br>

            <div class="flex-container">
                <div class="image-container">
                    <img src="../../images/bridal/catholic-bride.jpg" width="70%">
                </div>
                <div class="text-content">
                    <h3>Catholic Bride</h3>
                    <p class="material">An ethereal, angelic makeup that completes a Catholic bride. Look gorgeous, with
                        fresh, nude rose lips and dewy cheeks highlighted with blush in the shades of
                        apricot or peach. The eyes are lined with eyeliner and lashes voluminized.
                        The hair is lavishly set in gothic style or in any English upstyle. A veil
                        and a glimmering tiara complete the irresistible look.</p>
                </div>
            </div><br><br><br>

            <div class="flex-container">
                <div class="text-content">
                    <h3>Karnataka Bride</h3>
                    <p class="material">The natural tan complexion is complimented with silicon or high definition make-up.
                        The eyes are embellished in gold while thick black liner and a generous coat of
                        kohl attract attention. The lips are colored either maroon or bronze. The hair
                        is parted in the middle, then decked up with the traditional Surya and Chandra
                        accessories while “moggu jade” adorns the traditional plait.</p>
                </div>
                <div class="text-center image-container">
                    <img src="../../images/bridal/karnataka-bride.jpg" width="70%">
                </div>
            </div><br><br><br>

            <div class="flex-container">
                <div class="image-container">
                    <img src="../../images/bridal/muslim-bride.jpg" width="70%">
                </div>
                <div class="text-content">
                    <h3>Muslim Bride</h3>
                    <p class="material">Capturing the serene mood of an Islamic prayer, this look focuses on the eyes,
                        lining them deep kohl, voluminizing the lashes and adding a sprinkle of shimmer
                        for added effect. The lips are kept light with gloss. The hair may be styled
                        in an elegant French roll, an intricate plait adorned with flowers or as an
                        eye catching upstyle.</p>
                </div>
            </div><br><br><br>

            <div class="flex-container">
                <div class="text-content">
                    <h3>Tamil Bride</h3>
                    <p class="material">This look highlights the eyes with the glimmer of concentrated pigments that will
                        be used on the lids. The liner adds length to the eyes while kohl adds depth and
                        mystery. The lips are made to stand out with deep, rich colour. The hair is
                        gathered and plaited traditionally and adorned with jasmine flowers or one can
                        choose an elaborate upstyle.</p>
                </div>
                <div class="text-center image-container">
                    <img src="../../images/bridal/tamil-bride.jpg" width="70%">
                </div>
            </div><br><br><br>
        </section>
    </div>

    <section id="contact">
        <div class="" id="location-map">
            <div class="text-center" id="footer">
                <div>Touch & Shine Beauty Parlour | All rights reserved</div>
                <div><a class="my-email" href="mailto:pravesh03choudhary@gmail.com">Made with love by Pravesh | Click to give me a shout</a></div>
            </div>
        </div>
    </section>

</body>
</html>