<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs%>
</head>
<body>
<nav id="navigation-white">
    <div class="flex-space-between navigation-wrapper">
        <a href="/">
            <div class="logo-wrapper">
                <div class="logo">Touch & Shine</div>
                <div class="logo-sub">Beauty Parlour and Training Center</div>
            </div>
        </a>
        <div class="nav-wrapper">
            <ul>
                <li><a class="scroll-to-anchor" href="/#home">Home</a></li>
                <li><a class="scroll-to-anchor" href="/#services">Services</a></li>
                <li><a class="scroll-to-anchor" href="/#bridal">Bridal</a></li>
                <li><a class="scroll-to-anchor" href="/#packages">Packages</a></li>
                <li><a class="scroll-to-anchor" href="/#training-center">Training Center</a></li>
                <li><a class="scroll-to-anchor" href="/#view-gallery">Gallery</a></li>
                <li><a class="scroll-to-anchor" href="/#contact">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>

<section id="bridal-makeup">
    <div class="header">
        <div class="transparent-dark cover-container">
            <div class="padding-left width-50">
                <div class="bridal-header-heading">TOUCH & SHINE <br>TRAINING ACADEMY</div><br>
                <div class="bridal-header-subheading">Become the best beautician you can ever be.
                Get professional training from Mrs. Tanuja Choudhary, the best in what she does.</div>
            </div>
        </div>
    </div><br><br>
</section>

<div id="main-content" class="">
    <section id="bridal-description">
        <h2 class="heading text-center">TOUCH & SHINE TRAINING ACEDEMY</h2>
        <div class="flex-container">
            <div class="width-50 text-center">
                <img src="../../images/Tanuja-Choudhary.jpg" width="80%">
                <div class="image-below-text">Tanuja Choudhary, Cheif Beautician</div>
                <div class="image-below-text">Beauty Expert since 6 years.</div>
            </div>
            <div class="content width-50 padding-right">
                <p class="material">With a mission to transform the hair and beauty industry in India, the Naturals Training Academy is set to educate aspiring individuals in the art of hair and beauty.</p>
                <p class="material">The Naturals Training Academy is more than just learning about hairstyling and makeup. It arms students with the right technical skills, effective communication techniques and client management knowledge too. The academy also provides hands-on training at our beauty salon and ensures a 100% placement at Naturals.</p>
                <p class="material">Our training academy offers a range of courses from a foundation course to a short two weeks course on specialised subjects. The Naturals Training Academy also offers customised courses on hair, skin and makeup to meet individual requirements.</p>
                <p class="material">Enroll in our Training Academy and kickstart your career with Naturals!</p>
            </div>
        </div>
        <br><br>
    </section>
</div>

<section id="training-courses">
    <div class="flex-container-flex-start background-blue">
        <div class="width-50">
            <img src="../../images/courses/training-back-image1.png" width="100%">
        </div>
        <div class="width-50 text-white">
            <br>
            <h3 class="heading">COURSES OFFERED FOR YOU</h3>
            <br>
            <div>
                <h3 class="text-italic">Freshers</h3>
                <div class="material">
                    <ul>
                        <li>Certificate Program Hair, Skin, Hand and Feet Care</li>
                        <li>Certificate Program in Mehendi Art</li>
                    </ul>
                </div>
            </div>
            <div>
                <h3 class="text-italic">High End Skill Development</h3>
                <div class="material">
                    <ul>
                        <li>Diploma in Hair Cut and Styling</li>
                        <li>Diploma in Skin Care</li>
                    </ul>
                </div>
            </div>
            <div>
                <h3 class="text-italic">Skill Upgradation</h3>
                <div class="material">
                    <ul>
                        <li>Diploma in HairCut and Styling</li>
                        <li>Diploma in Skin Care</li>
                    </ul>
                </div>
            </div>
            <div>
                <h3 class="text-italic">Express Courses</h3>
                <div class="material">
                    <ul>
                        <li>Certificate Program in Colouring</li>
                        <li>Certificate Program in Hair Treatments</li>
                        <li>Certificate Program in Hairdo – Bridal and Fashion</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="" id="location-map">
        <div class="text-center" id="footer">
            <div>Touch & Shine Beauty Parlour | All rights reserved</div>
            <div><a class="my-email" href="mailto:pravesh03choudhary@gmail.com">Made with love by Pravesh | Click to give me a shout</a></div>
        </div>
    </div>
</section>

</body>
</html>